#navbar {
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: rgb(3, 3, 3);
  position: fixed;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
  font-family: "Space Grotesk", serif;
}

a {
  text-decoration: none;
  color: #f5efff;
}
#image {
  z-index: 2;
}
#navimg {
  width: 130px;
  height: 130px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 50%;
}

#menuitems > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#menuitems > ul > li {
  margin-left: 5vw;
  /* font-weight: 700; */
}

#options {
  margin-right: 10px;
}

#options > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

#options > ul > li {
  margin-left: 10px;
  font-size: 17px;
}

i {
  margin-right: 30px;
}

/* megamenu  */

.rightmenu {
  display: none;
  position: relative;
}

.megamenu {
  position: absolute;
  width: 100vw;
  top: 40px;
  right: -0px;
  background-color: rgb(18, 21, 25);
  padding: 20px;
}
.rightmenu > ul,
.megamenu > li {
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-align: center;
}
.megamenu > li {
  border-bottom: 1px solid gray;
}
.megamenu > li > a {
  text-decoration: none;
  color: rgb(220, 202, 135);
}
.megamenu > li > a:hover {
  font-weight: 900;
}

.megamenu {
  visibility: hidden;
  opacity: 0;
}

.rightmenu:hover .megamenu {
  visibility: visible;
  opacity: 1;
}

.megamenu > li > a:hover:after {
  width: 100%;
}

/*  */

@media screen and (max-width: 950px) {
  #navbar {
    font-size: 18px;
  }
  .rightmenu {
    display: block;
  }
  #menuitems {
    display: none;
  }
  #options {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #navbar {
    height: 100px;
    font-size: 16px;
  }
  #navimg {
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 50%;
  }
}
