* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-image: url(D:\Project\Restorent-Project\src\assets\bg.png);
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  background-color: white;
  color: black;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

section {
  scroll-margin-top: 150px;
  height: auto;
}

@media screen and (max-width: 768px) {
  section {
    scroll-margin-top: 100px;
  }
}
