* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-image: url(D:\Project\Restorent-Project\src\assets\bg.png);
  width: 100vw;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Jura", serif;
  /* font-family: "Julius Sans One", serif; */
  /* font-weight: 500; */
}

html {
  scroll-behavior: smooth;
}

button {
  background-color: white;
  color: black;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Merienda", serif;
}

section {
  scroll-margin-top: 150px;
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 768px) {
  section {
    scroll-margin-top: 100px;
  }
}
